<h1>Stocks</h1>

<%= form_tag(root_path, method: :post, role: 'form') do %>
  <div class='row'>
    <div class="form-group col-xs-6 col-md-4">
      <%= text_field_tag 'ticker', nil, placeholder: "
          Enter Ticker Symbol", class: 'form-control' %>
      <%= submit_tag 'Lookup', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<br/>

<% if @quote %>
  <%= @quote.company_name %><br/>
	$<%= @quote.latest_price %><br/>
	P/E: <%= @stats.pe_ratio %><br/>
<% elsif @nothing%>
  <%= @nothing%>  
<% end %>



<% if @error %>
    <%= @error %>
<% end %>
