<h1>Stocks</h1>

<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "
        Enter Ticker Symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>

<p>This is my first rails stocks app!</p>

<% if @stock %>
  <%= @stock.company_name %>
  $<%= @stock.latest_price %>
<% elsif @nothing%>
  <%= @nothing%>  
<% end %>

<% if @error %>
    <%= @error %>
<% end %>
